@import "tailwindcss";
@plugin "daisyui";

/* NAVBAR and FOOTER */
.logoHeader {
    width:200px;
}

/* BOARD */
.photo-gear {
    width:600px;
}

/* MESSENGER */
.fixedMessenger {
    position: fixed;
    width: 420px;
    right: 25px;
    bottom: -5px;
    z-index: 8;
}

/* FOOTER */
.footer {
    position: fixed;
    bottom: 0;    
    z-index: 500;
}
.logo-footer {
    width: 250px;    
}