{% extends 'base.html.twig' %}

{% block title %}Welcome Home
{% endblock %}

{% block body %}

<div id="root"></div>

	<script>
		window.REACT_COMPONENT_NAME = "{{ react_component | default('Home') }}";
		window.APP_USER_DATA = "{{ isAdmin | json_encode | raw | default(null)}}";
	</script>

{% endblock %}